<body>

    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">One, Shoe, Tree<span class="font-weight-light"></span></h1>

            <p>You lose a shoe. Your feet are different sizes. You're looking for some left and right variety, or half of you wants to go barefoot.</p>

            <p>Shoes might be complementary goods, but they can stand alone. Branch out. Find your one shoe.</p>

        </article>
        <aside id="details-aside" class="col-sm-4">
            <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</a>

              <%= form_tag charges_path do %>
                <article>
                  <label class="amount">
                    <span>Amount: $15.00</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Easy as one, shoe, tree"
                        data-amount="1500"></script>
              <% end %>


            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">DETAILS</li>
              <li class="list-group-item">You'll get one shoe.</li>
              </li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
Made by <a href="http://onemonth.com" target="_blank"><%= image_tag('one-month-logo.svg', id:'one-month-footer-logo', alt: 'One Month') %></a>
</footer>

<!-- Modal -->
<div class="modal fade" id="author-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span>About the Teacher</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p><strong>Mattan Griffel</strong></p>
                <p>Hey, I'm Mattan Griffel, co-founder of the Y Combinator backed <a href="http://www.onemonth.com" target="_blank">One Month</a> where I teach the best selling One Month Rails and One Month Growth Hacking.</p>
                <p>Why take my class? In the past I've advised companies like Pepsico, Bloomberg, GM, NYSE, and JPMorgan on growth hacking best practices. I've also spoken at New York University, Cooper Union and First Round Capital. My goal is to help you and other entrepreneurs rapidly grow your business. 
                </p>
                <p>Follow me on Twitter <a href="https://twitter.com/mattangriffel" target="_blank">@mattangriffel</a></p>
            </div>
            <div id="modal-right" class="pull-right">
                <%= image_tag('teacher-image.jpg', alt: 'Mattan Griffel') %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

